<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Copyright (c) 2013 yvolk (Yuri Volkov), http://yurivolkov.com
	Copyright (C) 2008 Torgny Bjers
	
	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at
	
	     http://www.apache.org/licenses/LICENSE-2.0
	
	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
    
    TODO: Add narrow enough intent filters to activities in order not to see these activities everywhere ("Open with...")
 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.andstatus.app" 
	android:versionName="5.0" android:versionCode="88"
	android:installLocation="internalOnly">

	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="10" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    
    <supports-screens
        android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />
    
	<application android:name=".MyApplication" android:label="@string/app_name" android:icon="@drawable/icon" android:allowBackup="false">
		<meta-data android:name="android.app.default_searchable" android:value=".TimelineActivity"/>

		<provider android:name=".data.MyProvider"
			android:authorities="org.andstatus.app.data.MyProvider"/>

		<provider android:name=".data.TimelineSearchSuggestionProvider" 
			android:authorities="org.andstatus.app.data.TimelineSuggestionProvider"/>

		<service android:process=":remote" android:name=".MyService">
			<intent-filter>
				<action android:name="org.andstatus.app.MyService"/>
				<action android:name="org.andstatus.app.SERVICE"/>
			</intent-filter>
		</service>

		<receiver android:name=".MyServiceManager">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.andstatus.app.action.ALARM" />
                <action android:name="org.andstatus.app.action.SERVICE_STATE" />
            </intent-filter>
		</receiver>

		<activity android:name=".TimelineActivity"
			android:label="@string/app_name" android:launchMode="singleTask" android:windowSoftInputMode="adjustResize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<action android:name="android.intent.action.PICK"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="vnd.android.cursor.dir/org.andstatus.provider.msg"/>
			</intent-filter>
			<intent-filter>
			    <action android:name="android.intent.action.SEND" />
			    <category android:name="android.intent.category.DEFAULT" />
			    <data android:mimeType="text/plain" />
			</intent-filter>
            <intent-filter>
				<action android:name="android.intent.action.SEARCH"/>
			</intent-filter>
			<meta-data android:name="android.app.searchable" android:resource="@xml/searchable_timeline"/>
		</activity>

		<activity android:name=".ConversationActivity"
			android:label="@string/label_conversation">
			<intent-filter android:label="@string/resolve_view">
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="vnd.android.cursor.item/org.andstatus.provider.msg"/>
			</intent-filter>
		</activity>

        <activity android:name=".MyPreferenceActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

		<activity android:name=".HelpActivity"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>

		<activity android:name=".account.AccountSelector"
            android:theme="@style/DialogThemeSelector"
            android:label="@string/label_accountselector">
		</activity>
		
        <receiver android:name=".appwidget.MyAppWidgetProvider">
            <meta-data android:name="android.appwidget.provider"
                    android:resource="@xml/appwidget_info" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="org.andstatus.app.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <activity android:name=".appwidget.MyAppWidgetConfigure">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service
            android:name=".account.AuthenticatorService"
            android:exported="true"
            android:enabled="true"
            >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"
                />
        </service>

        <service
            android:name=".syncadapter.SyncService"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        
        <activity
            android:name=".account.AccountSettingsActivity"
            android:label="@string/settings_activity_title"
            android:alwaysRetainTaskState="True"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action
                    android:name="org.andstatus.account.setup.ACCOUNT_MANAGER_ENTRY" />
                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="oauth-redirect.andstatus.org" />
			</intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="content"
                    android:host="ui.app.andstatus.org"
                    android:path="/settings"
                    />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".account.AccountSettingsWebActivity" 
            android:noHistory="true">
        </activity>
        
	</application>
</manifest>
