:root {
	color-scheme: light dark;
}

html {
	max-width: 900px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
}

#pic {
    display: block;
    max-width: 900px;
    max-height: 500px;
    margin: 0 auto;
}

h1 {
    font-size: 64px;
    font-weight: 400;
    margin: 0;
}

h2 {
	font-size: 32px;
	font-weight: 400;
}

header {
	text-align: center;
}

main {
	text-align: justify;
}

h1 img {
    height: 1em;
    width: auto;
}

#slidy-container {
	display: block;
	max-width: 900px;
	max-height: 500px;
	margin: 0 auto;
	overflow: hidden;
}

#slidy-container #photo {
	height:500px;
	width:900px;
}
